.card__content {
  position: relative;
  width: 108%;
  aspect-ratio: 1/1;
  transform-style: preserve-3d;
  transition: transform 600ms ease-in-out;
}

.card__content--flipped {
  transform: rotateY(180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 8rem;
  cursor: pointer;
}

.card__face--front {
  background-color: var(--color-primary);
}

.card__face--back {
  background-color: var(--color-secondary);
  transform: rotateY(180deg);
}

.card__face--back img {
  max-width: 100%;
  width: 10rem;
  height: auto;
}
