:root {
  --color-main: #0f0e0e;
  --color-primary: #1d4ed8;
  --color-secondary: #4f46e5;
  --color-text: #ebe8e8;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-main);
  color: var(--color-text);
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
