:root {
  --color-main: #1d1c1c;
  --color-primary: #1d4ed8;
  --color-secondary: #131212;
  --color-text: #ffffff;
  --color-text-dark: #0e0909;

  --color-series: #e42d58;
  --color-series-hover: #ec1d4d;

  --color-pokemons: #2ccde2;
  --color-pokemons-hover: #0ed5f0;

  --color-reset: #38f08b;
  --color-reset-hover: #1beb78;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-main);
  color: var(--color-text);
  font-family: 'Poppins', sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
}
