.content-box {
    margin: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .content-box__title {
    font-size: 3.5rem;
    padding-bottom: 0.5rem;
  }
  
  .content-box__subtitle {
    font-size: 2.8rem;
    padding-bottom: 0.5rem;
    padding-top: 1rem;
  }
  
  .group-buttons {
    display: flex;
    gap: 2rem;
    padding-top: 1rem;
  }
  
  .button {
    cursor: pointer;
    border: none;
    border-radius: 5px;
    padding: 1rem;
    width: 10rem;
    height: auto;
    text-align: center;
    font-size: 1.5rem;
    transition: 600ms ease-in-out;
    font-weight: 700;
    color: var(--color-text-dark);
    letter-spacing: 0.05em;
  }
  
  .button--series {
    background-color: var(--color-series);
  }
  
  .button--series:hover {
    background-color: var(--color-series-hover);
  }
  
  .button--pokemons {
    background-color: var(--color-pokemons);
  }
  
  .button--pokemons:hover {
    background-color: var(--color-pokemons-hover);
  }
  
  .container {
    padding-top: 3rem;
  }
  
  .container__theme {
    text-align: center;
    padding-bottom: 0.8rem;
    font-size: 2.5rem;
    font-weight: 500;
    letter-spacing: 0.05em;
  }
  